/* You can add global styles to this file, and also import other style files */

@import "~@telerik/kendo-theme-default/dist/grid.css";

html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;
}

.header {
  margin-top: 10px;
  height: 40px;
  overflow: hidden;
}

.header h1 {
  margin: 0;
}

.container {
  display: table;
  width: 100%;
  height: calc(100% - 51px);
}

.lieferscheine, .rechnungen {
  display: table-cell;
  width: 50%;
}